<header class="bg-white border-b">
  <div class="container mx-auto max-w-5xl">
    <div class="flex justify-between items-center p-4">
      <div class="flex items-center gap-4">
        <a routerLink="/search">
          <shared-button backgroundColor="primary">
            {{ lang.labels.SEARCH }}
          </shared-button>
        </a>

        <shared-button variant="transparent">
          {{ lang.labels.MARKET }}
        </shared-button>

        <shared-button variant="transparent">
          {{ lang.labels.EQUIPMENT }}
        </shared-button>
      </div>

      <div class="flex items-center relative">
        <shared-button *ngIf="!isAuthenticated"
                       (click)="openLoginDialog()"
                       backgroundColor="primary">
          {{ lang.labels.LOGIN }}
        </shared-button>

        <ng-container *ngIf="isAuthenticated">
          <div class="flex gap-1">
            <button class="header-round-button">
              <span class="material-icons"> search </span>
            </button>

            <button class="header-round-button">
              <span class="material-icons"> question_answer </span>
            </button>

            <button mat-button
                    [matMenuTriggerFor]="headerMenu"
                    class="header-round-button">
              <img class="w-8 h-8"
                   [src]="user?.picture" />
            </button>
            <mat-menu #headerMenu="matMenu"
                      class="mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none z-50">
              <div class="px-4 py-3">
                <p class="text-sm leading-5">
                  {{ lang.labels.YOU_ARE_SIGNED_AS }}
                </p>
                <p class="text-sm font-medium leading-5 text-gray-900 truncate">
                  {{ user.email }}
                </p>
              </div>

              <!-- Refactor havePermissions to PermissionService -->
              <div class="py-1">
                <a href="./#account-settings"
                   [ngClass]="
                    !havePermissions
                      ? 'bg-gray-100 text-gray-900'
                      : 'text-gray-700'
                  "
                   class="flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-50 duration-200"
                   mat-menu-item>
                  {{ lang.labels.ACCOUNT_SETTINGS }}
                </a>

                <a href="./#support"
                   [ngClass]="
                    !havePermissions
                      ? 'bg-gray-100 text-gray-900'
                      : 'text-gray-700'
                  "
                   class="flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-50 duration-200"
                   mat-menu-item>
                  {{ lang.labels.SUPPORT }}
                </a>

                <span mat-menu-item
                      disabled
                      class="flex justify-between w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 cursor-not-allowed opacity-50">
                  {{ lang.labels.NEW_FEATURES }}
                </span>
              </div>

              <div class="py-1">
                <a href="./#sign-out"
                   [ngClass]="
                    !havePermissions
                      ? 'bg-gray-100 text-gray-900'
                      : 'text-gray-700'
                  "
                   class="flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-50 duration-200"
                   mat-menu-item>
                  {{ lang.labels.SIGN_OUT }}
                </a>
              </div>
            </mat-menu>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</header>