<div *ngIf="show"
     [@inOutAnimation]
     class="py-12 bg-gray-700 bg-opacity-50 z-10 absolute top-0 right-0 bottom-0 left-0 w-screen h-screen"
     id="modal"
     (click)="closeDialog($event)">
  <div role="alert"
       class="container m-auto w-11/12 md:w-2/3 max-w-lg">
    <div class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400">
      <div class="mb-6">
        <h1 class="text-gray-800 text-2xl font-bold tracking-normal leading-tight my-4">
          {{ lang.labels.AUTHORIZATION }}
        </h1>
        <h2 class="text-gray-800 text-lg tracking-normal leading-tight my-4">
          {{ lang.labels.CHOOSE_AUTHORIZATION_METHOD }}
        </h2>
      </div>

      <div class="flex flex-row justify-between gap-6 w-full">
        <shared-button variant="outline"
                       backgroundColor="none"
                       class="w-full"
                       (click)="getGoogleAuthUrl()">
          <div class="flex items-center">
            <img src="assets/icons/google-login.svg"
                 class="w-8 mr-2" />
            <span>
              {{ lang.labels.GOOGLE }}
            </span>
          </div>
        </shared-button>

        <shared-button variant="outline"
                       backgroundColor="none"
                       class="w-full">
          <div class="flex items-center">
            <img src="assets/icons/vk-login.svg"
                 class="w-8 mr-2" />
            <span>
              {{ lang.labels.VKONTAKTE }}
            </span>
          </div>
        </shared-button>
      </div>
      <button class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out rounded focus:ring-2 focus:outline-none focus:ring-gray-600"
              aria-label="close modal"
              role="button"
              (click)="closeDialog($event)"
              id="close-button">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="icon icon-tabler icon-tabler-x"
             width="20"
             height="20"
             viewBox="0 0 24 24"
             stroke-width="2.5"
             stroke="currentColor"
             fill="none"
             stroke-linecap="round"
             stroke-linejoin="round">
          <path stroke="none"
                d="M0 0h24v24H0z" />
          <line x1="18"
                y1="6"
                x2="6"
                y2="18" />
          <line x1="6"
                y1="6"
                x2="18"
                y2="18" />
        </svg>
      </button>
    </div>
  </div>
</div>