<header class="bg-white border-b">
  <div class="container mx-auto max-w-5xl">
    <div class="flex justify-between items-center p-4">
      <div class="flex items-center gap-4">
        <shared-button backgroundColor="primary">
          {{ lang.labels.SEARCH }}
        </shared-button>

        <shared-button backgroundColor="none">
          {{ lang.labels.MARKET }}
        </shared-button>

        <shared-button backgroundColor="none">
          {{ lang.labels.EQUIPMENT }}
        </shared-button>
      </div>

      <div class="flex items-center relative">
        <shared-button *ngIf="!isAuthenticated"
                       (click)="openLoginDialog()"
                       backgroundColor="primary">
          {{ lang.labels.LOGIN }}
        </shared-button>

        <ng-container *ngIf="isAuthenticated">
          <div class="flex gap-1">
            <button
                    class="button duration-200 hover:bg-gray-100 p-3 rounded-full text-center flex justify-between items-center text-gray-800">
              <span class="material-icons"> search </span>
            </button>

            <button
                    class="button duration-200 hover:bg-gray-100 p-3 rounded-full text-center flex justify-between items-center text-gray-800">
              <span class="material-icons"> question_answer </span>
            </button>

            <div hlMenu>
              <button hlMenuButton
                      class="button duration-200 hover:bg-gray-100 p-2 rounded-full text-center flex justify-between items-center text-gray-800">
                <img class="w-8 h-8"
                     [src]="user?.picture" />
              </button>

              <div *hlMenuItems
                   @toggleAnimation
                   class="absolute -right-4 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none">
                <div class="px-4 py-3">
                  <p class="text-sm leading-5">
                    {{ lang.labels.YOU_ARE_SIGNED_AS }}
                  </p>
                  <p class="text-sm font-medium leading-5 text-gray-900 truncate">
                    {{ user.email }}
                  </p>
                </div>

                <div class="py-1">
                  <a *hlMenuItem="let item"
                     href="./#account-settings"
                     [class]="
                      item.active
                        ? 'bg-gray-100 text-gray-900'
                        : 'text-gray-700'
                    "
                     class="flex justify-between w-full px-4 py-2 text-sm leading-5 text-left">
                    {{ lang.labels.ACCOUNT_SETTINGS }}
                  </a>

                  <a *hlMenuItem="let item"
                     href="./#support"
                     [class]="
                      item.active
                        ? 'bg-gray-100 text-gray-900'
                        : 'text-gray-700'
                    "
                     class="flex justify-between w-full px-4 py-2 text-sm leading-5 text-left">
                    {{ lang.labels.SUPPORT }}
                  </a>

                  <span *hlMenuItem="let item; disabled: true"
                        class="flex justify-between w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 cursor-not-allowed opacity-50">
                    {{ lang.labels.NEW_FEATURES }}
                  </span>
                </div>

                <div class="py-1">
                  <a *hlMenuItem="let item"
                     href="./#sign-out"
                     [class]="
                      item.active
                        ? 'bg-gray-100 text-gray-900'
                        : 'text-gray-700'
                    "
                     class="flex justify-between w-full px-4 py-2 text-sm leading-5 text-left">
                    {{ lang.labels.SIGN_OUT }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</header>