<header class="bg-white border-b">
  <div class="container mx-auto max-w-5xl">
    <div class="flex justify-between items-center p-4">
      <div class="flex items-center gap-4">
        <shared-button backgroundColor='primary'>
          {{ lang.labels.SEARCH }}
        </shared-button>


        <shared-button backgroundColor='none'>
          {{ lang.labels.MARKET }}
        </shared-button>

        <shared-button backgroundColor='none'>
          {{ lang.labels.EQUIPMENT }}
        </shared-button>
      </div>

      <div class="flex items-center">
        <shared-button (click)='openLoginDialog()' backgroundColor='primary'>
          {{ lang.labels.LOGIN }}
        </shared-button>
      </div>
    </div>
  </div>
</header>